.super-mario {
  width: 100px;
  position: hidden;
  display:block

}

.goomba {
  width: 100px;
  position: hidden;
}

.baloon {

}

.speach {
  font-size: 25px;
}

.bowser {
  width: 200px;
  position: hidden;
}
