.super-mario {
  width: 100px;
  position: hidden;
  display:block

}

.goomba {
  width: 100px;
  position: hidden;
}

.baloon {
}

.speach {
  font-size: 25px;
  bottom: 151px;
  left:30px;
  display: block;
  position:absolute;
}

.bowser {
  width: 200px;
  position: hidden;
}
